.explore-page {
    .main {
        .search {
            width: 100%;
            margin-bottom: 2rem;

            .input-group-append .btn {
                z-index: 1;
            }
        }

        .filter-feed {
            display: flex;
            flex-flow: row wrap;

            .filter {
                display: flex;
                flex: 0 1 200px;
            }

            .feed {
                display: flex;
                flex: 2; 

                .card {
                    margin-bottom: 2rem;
    
                    .feed-tags {
                        display: flex;
                        flex-flow: row wrap;
    
                        .tag {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}